* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
