* {
    box-sizing: border-box;
}

body {
    max-width: max-content;
    margin: auto;
    padding: auto;
    background-color: #303030;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: grid;
    height: auto;
    grid-template-columns: 477px 477px 477px;
    text-align: center;
}

.item {
    margin-right: 15px;
    margin-bottom: 15px;
}

.item > img {
    height: 950px;
}

.name {
    font-weight: 600;
}

.last {
    grid-column-start: 2;
}

.margin {
    margin: 50px 0;
}

.margin_des {
    margin: 16px 0;
}
